<div class="col-10 text-center">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to 'discounts', merchant_discounts_path(@merchant), class:
      "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'My Items', merchant_items_path(@merchant), class: "nav-link"
      %>
    </li>
    <li class="nav-item">
      <%= link_to 'My Invoices', merchant_invoices_path(@merchant), class:
      "nav-link" %>
    </li>
  </ul>  
  <br />
</div>
<div class="col-12 rounded mt-4 ms-3" style="border: 2px red;">
  <div class="card " style="background-color: rgb(191, 202, 209);min-width: 580px">
    <div class="card-header" style="background-color: rgb(134, 153, 165)">
      <h3 class="card-title">Invoice # <%= @invoice.id %></h3>
      <h3><%= @merchant.name %></h3><br>
      <hr
      class="float-left"
      style="
        color: rgb(105, 0, 0);
        border: 2px solid rgb(112, 0, 0);
        width: 50%;
      "
    />
      <h4>Status: <%= @invoice.status.humanize.capitalize %></h4>
      <h4>Ordered: <%= @invoice.formatted_time %></h4>
      <h4>Customer: <%= @invoice.customer.first_name + ' ' + @invoice.customer.last_name %></h4>
      <h3>Total Revenue: <%= number_to_currency(@invoice.invoice_total_revenue.to_f / 100) %></h3>
      <h3>discounted revenue: <%= number_to_currency(@invoice.discounted_revenue / 100.00) %></h3>
      <br>
    </div>
    <div class="card-body" style="background-color: rgb(217, 221, 222)">
      <table class="table table-bordered">
        <tr>
          <th scope="col" >#</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Price</th>
          <th>Discount</th>
        </tr>
        <% @merchant.invoice_items_for_invoice(@invoice.id).each_with_index do |item, index| %>
          <tr id="invoice_item_<%=item.id%>">
            <th scope="row"><%=index + 1%></th>
            <td><%= item.item_name %></td>
            <td><%= item.quantity %></td>
            <td class="status" id="invoice_item_status">       
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle float-left" type="button" data-toggle="dropdown" id="f<%=item.id%>">
                  <%= item.status %>
                <span class="caret"></span></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% @merchant.invoice_items_for_invoice(@invoice.id).statuses.keys().each do |status| %>
                    <%= link_to status, "/invoice_items/#{item.id}/#{status}", method: :patch, params: {status: status}, :class=>"dropdown-item"%>
                    
                  <% end %>
                </div>
              </div>
            </td>
            <td>Price: <%= number_to_currency(item.unit_price / 100.00) %></td>
            <td>
              <% if item.discount != nil %>
                <%= link_to item.discount.discount_code, merchant_discount_path(id: item.discount.id) %>
              <% else %>
                none
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
