
<div class="col-10 text-center">
  <h1><%= @merchant.name %>'s Items</h1>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to 'discounts', merchant_discounts_path(@merchant), class:
      "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'My Items', merchant_items_path(@merchant), class: "nav-link"
      %>
    </li>
    <li class="nav-item">
      <%= link_to 'My Invoices', merchant_invoices_path(@merchant), class:
      "nav-link" %>
    </li>
    <li>
      <%= link_to "Create a New Item", new_merchant_item_path, class: "nav-link" %>
    </li>
  </ul>  
  <br />
</div>
<div class = "col-6" id="top-5-items-by-revenue">
  <h3>Top 5 Most Popular Items</h3>
  <% count = 1 %>
  <% @merchant.items.top_five_items_by_revenue.each do |item| %>
    <div id="top-item-<%= item.name %>">
      <%= count %>. <%= item.name %><br>

      <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>

      <% count +=1 %>
    </div>
  <% end %>
</div>

<div id="all-enabled" class="col-3">
  <h3>Enabled Items</h3>
    <% @merchant.items.all_enabled.each do |item| %>
        <div id="item-<%= item.id %>">
          <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
          <%= button_to "Disable", merchant_item_path(@merchant.id, item.id), params: { 'item[enabled]': false }, method: :patch %>
        </div>
    <% end %>
  </div>
<br>
<div id="all-disabled" class="col-3">
  <h3>Disabled Items</h3>
    <% @merchant.items.all_disabled.each do |item| %>
        <div id="item-<%= item.id%>">
          <%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
          <%= button_to "Enable", merchant_item_path(@merchant.id, item.id), params: { 'item[enabled]': true }, method: :patch %>
        </div>
    <% end %>
  </div>
